<%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/navigation.ejs') %>
    <main class="container">
        <h2 class="centered">PAGE NOT FOUND!</h2>
    </main>
</body>
</html>